@page "/documentation/extended/imageribbon"

<DocumentationRoot>
    <BulMessage Color="BulSchemeColor.Warning">
        <BulMessageBody>
            Need to fix the aspect ratio sizing issues of the parent container.
        </BulMessageBody>
    </BulMessage>

    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <SchemeColorSelect Label="Color" @bind-Value="Color" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <RatioSelect Label="Ratio"                    
                            Value="Ratio"
                            ValueChanged="@((value) => ValueChangedHandler(value))" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="@BCss.Prefix("label")">Display Count</label>
                        <BulInputNumber @bind-Value="DisplayCount" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="@BCss.Prefix("label")">Focused Index</label>
                        <BulSlider @bind-Value="FocusedIndex" Min="0" Max="(DemoEntries.Length - 1)" Step="1" />
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <div>Selected: @(FocusedIndex + 1) / @DemoEntries.Length</div>
            <div>
            <div style="border: black solid 5px; padding-top: 5%;">
            <BulImageRibbon @bind-Value="FocusedIndex" 
                Images="DemoEntries" 
                DisplayCount="DisplayCount" 
                Color="Color" 
                Ratio="Ratio.Value"
            />
            </div>
            </div>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor? Color { get; set; }
    public BulRatio? Ratio { get; set; } = BulRatio.R1by1;
    public int DisplayCount { get; set; } = 5;
    public int FocusedIndex { get; set; } = 0;
    public Uri[] DemoEntries { get; set; } = new Uri[12];

    protected override void OnInitialized()
    {
        BuildImages(null);
    }

    private void ValueChangedHandler(BulRatio? value)
    {
        if(!value.HasValue)
            value = BulRatio.R1by1;
        
        Ratio = value;

        BuildImages(value);
    }

    private void BuildImages(BulRatio? ratio)
    {
        string size  = "480x480";

        if(ratio.HasValue)
        {
            switch (ratio.Value)
            {
                case BulRatio.RSquare:
                    size  = "480x480";
                    break;
                case BulRatio.R1by1:
                    size  = "480x480";
                    break;
                case BulRatio.R5by4:
                    size  = "600x480";
                    break;
                case BulRatio.R4by3:
                    size  = "640x480";
                    break;
                case BulRatio.R3by2:
                    size  = "480x320";
                    break;
                case BulRatio.R5by3:
                    size  = "800x480";
                    break;
                case BulRatio.R16by9:
                    size  = "640x360";
                    break;
                case BulRatio.R2by1:
                    size  = "640x320";
                    break;
                case BulRatio.R3by1:
                    size  = "720x240";
                    break;
                case BulRatio.R4by5:
                    size  = "480x600";
                    break;
                case BulRatio.R3by4:
                    size  = "480x640";
                    break;
                case BulRatio.R2by3:
                    size  = "320x480";
                    break;
                case BulRatio.R3by5:
                    size  = "480x800";
                    break;
                case BulRatio.R9by16:
                    size  = "360x640";
                    break;
                case BulRatio.R1by2:
                    size  = "320x640";
                    break;
                case BulRatio.R1by3:
                    size  = "240x720";
                    break;
            }
        }

        for (int i = 0; i < DemoEntries.Length; i++)
        {
            DemoEntries[i] = new Uri($"https://bulma.io/images/placeholders/{size}.png");
            //var s = (i + 1).ToString("00");
            //DemoEntries[i] = new Uri($"https://localhost:5001/images/zelda-{s}.jpg");
        }
    }
}