@page "/documentation/elements/progress"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <PrimaryColorSelect 
                            Label="Color"
                            Value="Color" 
                            ValueChanged="@((value) => {
                                Color = value;
                                StateHasChanged();
                            })" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="label">Progress</label>
                        <BulInputNumber 
                            Value="Progress"
                            ValueExpression="@( () => Progress )"
                            ValueChanged="@((int value) => {
                                Progress = value;
                                StateHasChanged();
                            })" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox 
                                Value="Indeterminate"
                                ValueExpression="@( () => Indeterminate )"
                                ValueChanged="@((bool value) => {
                                    Indeterminate = value;
                                    StateHasChanged();
                                })">
                            Indeterminate
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulProgressBar 
                Color="Color" 
                Progress="Progress" 
                Indeterminate="Indeterminate" />
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public int Progress { get; set; } = 25;

    public bool Indeterminate { get; set; }

    public BulPrimaryColor? Color { get; set; }
}