@page "/documentation/extended/timeslider"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Size</label>
                            <BulInputSelectEnum @bind-Value="Size" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="label">Step Milliseconds</label>
                        <BulInputNumber 
                            Value="StepMilliseconds"
                            ValueExpression="@( () => StepMilliseconds )"
                            ValueChanged="@((double value) => {
                                if(value < 50)
                                    value = 50;
                                StepMilliseconds = value;
                                DemoStep = TimeSpan.FromMilliseconds(value);
                            })" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="FullWidth">
                            Full Width
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Circle">
                            Circle
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div>Value: @DemoValue</div>
                <BulTimeSlider @bind-Value="DemoValue"
                    Color="Color" 
                    Size="Size" 
                    FullWidth="FullWidth"
                    Circle="Circle"
                    Min="DemoMin" 
                    Max="DemoMax"
                    Step="DemoStep" />
            </EditForm>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public TimeSpan DemoValue { get; set; } = TimeSpan.Zero;
    public TimeSpan DemoMin { get; set; } = TimeSpan.Zero;
    public TimeSpan DemoMax { get; set; } = TimeSpan.FromSeconds(30);
    public TimeSpan DemoStep { get; set; } = TimeSpan.FromSeconds(1);
    public double StepMilliseconds { get; set; } = 1000;
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Default;
    public BulSize Size { get; set; } = BulSize.Default;
    public bool FullWidth { get; set; }
    public bool Circle { get; set; }

}