@page "/documentation/extended/timerprogressbar"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Size</label>
                            <BulInputSelectEnum @bind-Value="Size" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="label">Interval Milliseconds</label>
                        <BulInputNumber 
                            Value="IntervalMilliseconds"
                            ValueExpression="@( () => IntervalMilliseconds )"
                            ValueChanged="@((double value) => {
                                if(value < 50)
                                    value = 50;
                                IntervalMilliseconds = value;
                                DemoInterval = TimeSpan.FromMilliseconds(value);
                            })" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulButton @onclick="OnResetHandler">Reset</BulButton>
                    </OptionsBoxItem>

                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div>Current: @DemoValue</div>
                <div>Total: @DemoRuntime</div>
                <div>Complete: @Complete</div>
                <BulTimerProgressBar @bind-Value="DemoValue"
                    Color="Color" 
                    Size="Size" 
                    Interval="DemoInterval"
                    Max="DemoRuntime"
                    OnElapsed="OnElapsedHandler"
                     />
            </EditForm>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Default;
    public BulSize Size { get; set; } = BulSize.Default;
    public TimeSpan DemoRuntime { get; set; } = TimeSpan.FromSeconds(10);
    public TimeSpan DemoValue { get; set; } = TimeSpan.Zero;
    public TimeSpan DemoInterval { get; set; } = TimeSpan.FromMilliseconds(500);
    public double IntervalMilliseconds { get; set; } = 500;
    public bool Complete { get; set; }

    private void OnElapsedHandler(TimeSpan value)
    {
        Complete = true;
    }

    private void OnResetHandler()
    {
        DemoValue = TimeSpan.Zero;
        Complete = false;
    }
}