@page "/documentation/extended/imageribbon"

<DocumentationRoot>
    <BulMessage Color="BulSchemeColor.Warning">
        <BulMessageBody>
            **BETA** Need to fix the aspect ratio sizing issues of the parent container.
        </BulMessageBody>
    </BulMessage>

    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Ratio</label>
                            <BulInputSelectEnum 
                                Value="Ratio"
                                ValueExpression="@( () => Ratio )"
                                ValueChanged="@((BulRatio value) => ValueChangedHandler(value))" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="label">Display Count</label>
                        <BulInputNumber @bind-Value="DisplayCount" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="label">Focused Index</label>
                        <BulSlider @bind-Value="FocusedIndex" Min="0" Max="(DemoEntries.Count - 1)" Step="1" />
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <div>Selected: @(FocusedIndex + 1) / @DemoEntries.Count</div>
            <div style="padding-top: 5%;">
            <BulImageRibbon @bind-Value="FocusedIndex" 
                Images="DemoEntries" 
                DisplayCount="DisplayCount" 
                Ratio="Ratio"
            />

            </div>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulRatio Ratio { get; set; } = BulRatio.R1by1;
    public int DisplayCount { get; set; } = DemoEntries.Count;
    public int FocusedIndex { get; set; } = 0;
    public static List<Uri> DemoEntries { get; set; } = new List<Uri>()
    {
        new Uri("https://s3.stablecube.com/sc-bulzor-demo/image-1.jpeg"),
        new Uri("https://s3.stablecube.com/sc-bulzor-demo/image-2.jpeg"),
        new Uri("https://s3.stablecube.com/sc-bulzor-demo/image-3.jpeg"),
        new Uri("https://s3.stablecube.com/sc-bulzor-demo/image-4.jpeg")
    };

    protected override void OnInitialized()
    {
    }

    private void ValueChangedHandler(BulRatio value)
    {
        Ratio = value;
    }
}