@page "/documentation/form/select"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <SchemeColorSelect Label="Color" @bind-Value="Color" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <SizeSelect Label="Size" @bind-Value="Size" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="label">Multiple</label>
                        <BulInputNumber @bind-Value="Multiple" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Rounded">
                            Rounded
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Loading">
                            Loading
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="HasIconsLeft">
                            Has Icons Left
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="HasIconsRight">
                            Has Icons Right
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="DemoIconLeft">
                            Demo Icon Left
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="DemoIconRight">
                            Demo Icon Right
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div>Value: @(DemoDataOptions[DemoDataValue])</div>
                <BulInputSelect @bind-Value="DemoDataValue" 
                    Multiple="Multiple"
                    Size="Size" 
                    Color="Color" 
                    Rounded="Rounded"
                    Loading="Loading"
                    HasIconsLeft="HasIconsLeft"
                    HasIconsRight="HasIconsRight" >

                    @foreach(var item in DemoDataOptions)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </BulInputSelect>
            </EditForm>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor? Color { get; set; }
    public BulSize? Size { get; set; }
    public int Multiple { get; set; }
    public bool Rounded { get; set; }
    public bool Loading { get; set; }
    public bool HasIconsLeft { get; set; }
    public bool HasIconsRight { get; set; }
    public bool DemoIconLeft { get; set; }
    public bool DemoIconRight { get; set; }
    public string DemoDataValue { get; set; } = "luke";
    public Dictionary<string, string> DemoDataOptions { get; set; } = new Dictionary<string, string>()
    {
        { "luke", "Luke" },
        { "han", "Han" },
        { "chewbacca", "Chewbacca" },
        { "darth-vadar", "Darth Vader" },
    };
}