@namespace StableCube.Bulzor.Demo.Client

@inject NavigationManager _navManager

<div id="documentation-root" class="section">
    <div class="columns">
        <div class="column is-2">
            <BulMenu>
                <BulMenuLabel>
                    <a @onclick="@(() => ExpandComponents = !ExpandComponents)">
                        Components @(ExpandComponents ? '-' : '+')
                    </a>
                </BulMenuLabel>

                @if(ExpandComponents)
                {
                <BulMenuList>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/breadcrumb" Match="NavLinkMatch.All">
                            Breadcrumb
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/card" Match="NavLinkMatch.All">
                            Card
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/dropdown" Match="NavLinkMatch.All">
                            Dropdown
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/menu" Match="NavLinkMatch.All">
                            Menu
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/message" Match="NavLinkMatch.All">
                            Message
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/modal" Match="NavLinkMatch.All">
                            Modal
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/navbar" Match="NavLinkMatch.All">
                            Navbar
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/pagination" Match="NavLinkMatch.All">
                            Pagination
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/components/tabs" Match="NavLinkMatch.All">
                            Tabs
                        </BulNavLink>
                    </BulMenuListItem>
                </BulMenuList>
                }

                <BulMenuLabel>
                    <a @onclick="@(() => ExpandForm = !ExpandForm)">
                        Form @(ExpandForm ? '-' : '+')
                    </a>
                </BulMenuLabel>
                @if(ExpandForm)
                {
                <BulMenuList>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/form/input" Match="NavLinkMatch.All">
                            Input
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/form/textarea" Match="NavLinkMatch.All">
                            TextArea
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/form/select" Match="NavLinkMatch.All">
                            Select
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/form/checkbox" Match="NavLinkMatch.All">
                            Checkbox
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/form/file" Match="NavLinkMatch.All">
                            File
                        </BulNavLink>
                    </BulMenuListItem>
                </BulMenuList>
                }

                <BulMenuLabel>
                    <a @onclick="@(() => ExpandElements = !ExpandElements)">
                        Elements @(ExpandElements ? '-' : '+')
                    </a>
                </BulMenuLabel>
                @if(ExpandElements)
                {
                <BulMenuList>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/box" Match="NavLinkMatch.All">
                            Box
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/button" Match="NavLinkMatch.All">
                            Button
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/content" Match="NavLinkMatch.All">
                            Content
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/delete" Match="NavLinkMatch.All">
                            Delete
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/icon" Match="NavLinkMatch.All">
                            Icon
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/image" Match="NavLinkMatch.All">
                            Image
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/notification" Match="NavLinkMatch.All">
                            Notification
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/progress" Match="NavLinkMatch.All">
                            Progress Bar
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/tag" Match="NavLinkMatch.All">
                            Tag
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/elements/title" Match="NavLinkMatch.All">
                            Title
                        </BulNavLink>
                    </BulMenuListItem>
                </BulMenuList>
                }

                <BulMenuLabel>
                    <a @onclick="@(() => ExpandExtended = !ExpandExtended)">
                        Extended @(ExpandExtended ? '-' : '+')
                    </a>
                </BulMenuLabel>
                @if(ExpandExtended)
                {
                <BulMenuList>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/accordion" Match="NavLinkMatch.All">
                            Accordion
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/busyspinner" Match="NavLinkMatch.All">
                            Busy Spinner
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/divider" Match="NavLinkMatch.All">
                            Divider
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/slider" Match="NavLinkMatch.All">
                            Slider
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/timeslider" Match="NavLinkMatch.All">
                            Time Slider
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/timerprogressbar" Match="NavLinkMatch.All">
                            Timer Progress Bar
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/imageribbon" Match="NavLinkMatch.All">
                            Image Ribbon
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/datetime" Match="NavLinkMatch.All">
                            DateTime Input
                        </BulNavLink>
                    </BulMenuListItem>
                    <BulMenuListItem>
                        <BulNavLink href="/documentation/extended/video-player" Match="NavLinkMatch.All">
                            Video Player
                        </BulNavLink>
                    </BulMenuListItem>
                </BulMenuList>
                }
            </BulMenu>
        </div>

        <div class="column is-10">
            <div class="section">
                <div class="container">
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool ExpandComponents { get; set; }
    private bool ExpandForm { get; set; }
    private bool ExpandElements { get; set; }
    private bool ExpandExtended { get; set; }

    protected override void OnInitialized()
    {
        var currentPath = _navManager.ToBaseRelativePath(_navManager.Uri);

        ExpandComponents = currentPath.Contains("documentation/components");
        ExpandForm = currentPath.Contains("documentation/form");
        ExpandElements = currentPath.Contains("documentation/elements");
        ExpandExtended = currentPath.Contains("documentation/extended");
    }
}
