@namespace StableCube.Bulzor.Demo.Client

<div class="control">
    <label class="label">@Label</label>
    <BulInputSelect Value="(_selectedString)"
            ValueExpression="@( () => _selectedString )"
            ValueChanged="@( async (string value) => await OnChangedHandlerAsync(value) )">

        <option value="default" selected>Default</option>
        @foreach (var option in _options)
        {
            <option value="@(option.ToString())">@option.ToString()</option>
        }
    </BulInputSelect>
</div>

@code {
    [Parameter]
    public string Label { get; set; } = "Text Size";

    [Parameter]
    public BulTextSize? Value { get; set; }

    [Parameter]
    public EventCallback<BulTextSize?> ValueChanged { get; set; }

    private string _selectedString = "default";
    private IEnumerable<BulTextSize> _options;

    protected override void OnInitialized()
    {
        _options = Enum.GetValues(typeof(BulTextSize)).Cast<BulTextSize>();
    }

    public async Task OnChangedHandlerAsync(string value)
    {
        _selectedString = value;
        BulTextSize? enumVal = null;
        if(value != "default")
        {
            enumVal = Enum.Parse<BulTextSize>(value);
        }

        await ValueChanged.InvokeAsync(enumVal);
    }
}