@page "/documentation/elements/box"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>

        </ExampleOptions>

        <ExampleResult>
            <BulBox>
                <article class="@BCss.Prefix("media")">
                    <div class="@BCss.Prefix("media-left")">
                    <figure class="@BCss.Prefix("image is-64x64")">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                    </div>
                    <div class="@BCss.Prefix("media-content")">
                    <div class="@BCss.Prefix("content")">
                        <p>
                        <strong>John Smith</strong> <small>johnsmith</small> <small>31m</small>
                        <br>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                        </p>
                    </div>
                    <nav class="@BCss.Prefix("level is-mobile")">
                        <div class="@BCss.Prefix("level-left")">
                        <a class="@BCss.Prefix("level-item")" aria-label="reply">
                            <span class="@BCss.Prefix("icon is-small")">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a class="@BCss.Prefix("level-item")" aria-label="retweet">
                            <span class="@BCss.Prefix("icon is-small")">
                            <i class="fa fa-retweet" aria-hidden="true"></i>
                            </span>
                        </a>
                        <a class="@BCss.Prefix("level-item")" aria-label="like">
                            <span class="@BCss.Prefix("icon is-small")">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            </span>
                        </a>
                        </div>
                    </nav>
                    </div>
                </article>
            </BulBox>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {

}